@model HireMeCodeFirst.Models.JobPosting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobPosting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobLocation.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobLocation.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobDescription)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.JobDescription,10,50,"")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOpenings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOpenings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursPerWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursPerWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WageSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WageSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qualifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qualifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationInstructions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationInstructions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationWebsite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationWebsite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumViews)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumViews)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
