@model PagedList.IPagedList<HireMeCodeFirst.Models.JobPosting>
@using PagedList.Mvc;
   

@{
    ViewBag.Title = "JobSearch";
}
@using (Html.BeginForm("JobSearch", "JobPostings", FormMethod.Get))
{
    <div style="border-bottom:1px solid #bbb"><h1>Job Search</h1></div>

    <div class="row">

        <p>
                Keyword(s): @Html.TextBox("SearchString", ViewBag.CurrentFilter as String)<input type="submit" value="Search" />
            
 <!--           <div class="col-lg-3">
                Company Name: @Html.TextBox("SearchCompany", ViewBag.CurrentFilter as String)
                <input type="submit" value="Search" />
            </div>-->
        </p>
    </div>


    if (Model != null)
    {
        <table class="table">
            <tr>
                <th>@Html.ActionLink("Job Title", "JobSearch", new { sortOrder = ViewBag.SortTitle })</th>
                <th>Company</th>
                <th>Job Type</th>
                <th>@Html.ActionLink("Posting Date", "JobSearch", new { sortOrder = ViewBag.SortDate })</th>
                <th>Details</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.JobTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.Company.Name)
                    <td>@Html.DisplayFor(modelItem => item.JobType.Name)</td>
                    <td>@item.CreatedDate.Value.ToString("MM/dd/yyyy")</td>
                    <td>@Html.Raw("<a data-modal='' href='/JobPostings/SearchDetails/" + item.Id + "' JobPostingID='" + item.Id + "' title='Detail'> <span class='glyphicon glyphicon-search'> </span> </a>")</td>

                </tr>

            }
        </table>

    }



}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("JobSearch",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))